#{extends 'main.html' /} 

#{set title: 'User details' /} 

#{header pageTitle:'Mes pickup points' /}

<script
	src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=places"
	type="text/javascript"></script>

<script type="text/javascript">
	function initialize() {
		var mapOptions = {
			center : new google.maps.LatLng(44.77674, -0.6526569999999765),
			zoom : 9,
			mapTypeId : google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById('map_canvas'),
				mapOptions);

		var input = document.getElementById('address');
		var autocomplete = new google.maps.places.Autocomplete(input);

		autocomplete.bindTo('bounds', map);

		var marker = new google.maps.Marker({
			map : map
		});

		google.maps.event.addListener(autocomplete, 'place_changed',
			function() {
				var place = autocomplete.getPlace();
				if (place.geometry.viewport) {
					map.fitBounds(place.geometry.viewport);
				} else {
					map.setCenter(place.geometry.location);
					map.setZoom(17); // Why 17? Because it looks good.
				}
				
				$('#latitude').val(place.geometry.location.Qa);
				$('#longitude').val(place.geometry.location.Ra);
				
				marker.setPosition(place.geometry.location);
			});
	}

	$(document).ready(function() {
		$('#addPP').hide();
		
		$('#addNewPP').click(function() {
			$('#addPP').fadeToggle();
			initialize();
		});
	});
</script>


<div class="row">

	<ul>
		#{list items:user.pickupPoints, as:'pp'}
		<li><a href="#">${pp.label} [${pp.direction}  ${pp.address} <small>${pp.latitude}, ${pp.longitude}]</small></a></li> 
		#{/list}
	</ul>

	<a id="addNewPP" href="#">Ajouter un pickup point</a>

	<form id="addPP" class="actions"
		action="@{PickupPoints.addNew(user.email)}" method="POST">

		<h2>Entrez les infos du pickup point</h2>

		<div class="clearfix">
			<label for="label">Nom:</label>
			<div class="input">
				<input id="label" type="text" name="newPP.label">
			</div>
		</div>

		<div class="clearfix">
			<label for="address">Adresse:</label>
			<div class="input">
				<input id="address" type="text" name="newPP.address" class="xlarge">
				<div id="map_canvas"></div>
			</div>
		</div>
 
		<div class="clearfix">
			<label for="direction">Direction:</label>
			<div class="input">
				<select id="direction" type="text" name="newPP.direction">
					<option>to</option>
					<option>from</option>
				</select>
			</div>
		</div>
		
		<input id="latitude" name="newPP.latitude" type="hidden">
		<input id="longitude" name="newPP.longitude" type="hidden">
		
		<div class="input">
			<button class="btn" type="submit">mettre à jour</button>
		</div>
	</form>
</div>