#{extends 'main.html' /}
#{set title: 'User details' /}

<h2>Les Pickup Points de ${user.fullName} (${user.pickupPoints.size()})</h2> 

<ul>
#{list items:user.pickupPoints, as:'pp'}
	<li><a href="#">${pp.label} [${pp.direction}]</a></li>
#{/list}
</ul>

<a id="addNewPP" href="#">Ajouter un pickup point</a>

<form id="addPP" action="@{PickupPoints.addNew(user.email)}" method="POST">
	<div>
		<label for="label">Nom:</label>
		<input id="label" type="text" name="newPP.label">
	</div>
</form>

<br/>

<a href="@{Users.displayUsers()}">- accueil</a>

<script type="text/javascript">
	$(document).ready(function() {
		$('#addNewPP').click(function() {
			$('#addPP').fadeToggle();
		});
	});
	
	
</script>