#{extends 'main.html' /}
#{set title: 'User details' /}

%{ title = 'Les Pickup Points de ' + user.fullName }%

#{header pageTitle:title /}

<script type="text/javascript">
	$(document).ready(function() {
		$('#addNewPP').click(function() {
			$('#addPP').fadeToggle();
		});
	});
</script>

<div class="row">
	
	<ul>
	#{list items:user.pickupPoints, as:'pp'}
		<li><a href="#">${pp.label} [${pp.direction}]</a></li>
	#{/list}
	</ul>
	
	<a id="addNewPP" href="#">Ajouter un pickup point</a>
	
	<form id="addPP" class="actions" action="@{PickupPoints.addNew(user.email)}" method="POST">
		<h2>Entrez les infos du pickup point </h2>
		
		<div class="clearfix">
			<label for="label">Nom:</label>
			<div class="input">
				<input id="label" type="text" name="newPP.label">
			</div>
		</div>
		
		<div class="clearfix">
			<label for="address">Adresse:</label>
			<div class="input">
				<input id="address" type="text" name="newPP.address" class="xlarge">
			</div>
		</div>
		
		<div class="clearfix">
			<label for="direction">Direction:</label>
			<div class="input">
				<select id="direction" type="text" name="newPP.direction">
					<option>to</option>
					<option>from</option>
				</select>
			</div>
		</div>
	</form>
</div>