*{ Displays a user }*

<form action="@{Users.updateUser(_user.id)}" method="POST">

	<div class="clearfix">
		<label for="firstName">Pr√©nom</label>
		<div class="input">
			<input id="firstName" name="user.firstName" type="text" value="${_user.firstName}">
		</div>
	</div>
	
	<div class="clearfix">
		<label for="lastName">Nom</label>
		<div class="input">
			<input id="lastName" name="user.lastName" type="text" value="${_user.lastName}">
		</div>
	</div>

	<div class="clearfix">
		<label for="email">Email</label>
		<div class="input">
			<input id="email" name="user.email" type="text" value="${_user.email}">
		</div>
	</div>
	
	<div class="input">
		<button class="btn" type="submit">mettre à jour</button>
	</div>
	
</form>
<br/>

<a href="@{Users.displayPickupPoints(_user.email)}">(${_user.pickupPoints.size()}) pickup points</a>