<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" href="@{'public/stylesheets/application.less'}" type="text/css">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>


	<div class="topbar">
		<div class="fill">
			<div class="container">
				<a class="brand" href="/">Carpool</a>
			</div>
		</div>
	</div>

	<div class="container">

		<div class="content">#{doLayout /}</div>

		<footer>
			<p>&copy; Company 2011</p>
		</footer>

	</div>
	<!-- /container -->

</body>
</html>
